.navbar-header {
    background-color: #323232;
    border-color: rgba(50, 50, 50, 0.25);
}
.navbar-brand, .navbar-nav>li>a {
    text-shadow: none;
}

.navbar-header .navbar-brand {
    color: white;
}
.navbar-header .navbar-brand:hover, .navbar-header .navbar-brand:focus {
    color: red;
}
.navbar-header .navbar-nav > li > a {
    color: white;
}
.navbar-header .navbar-nav > li > a:hover, .navbar-header .navbar-nav > li > a:focus {
    color: red;
}
.navbar-header .navbar-nav .active > a, .navbar-header .navbar-nav .active > a:hover, .navbar-header .navbar-nav .active > a:focus {
    color: red;
    background-color: rgba(50, 50, 50, 0.25);
}
.navbar-header .navbar-nav .open > a, .navbar-header .navbar-nav .open > a:hover, .navbar-header .navbar-nav .open > a:focus {
    color: red;
    background-color: rgba(50, 50, 50, 0.25);
}
.navbar-header .navbar-nav .open > a .caret, .navbar-header .navbar-nav .open > a:hover .caret, .navbar-header .navbar-nav .open > a:focus .caret {
    border-top-color: red;
    border-bottom-color: red;
}
.navbar-header .navbar-nav > .dropdown > a .caret {
    border-top-color: white;
    border-bottom-color: white;
}
.navbar-header .navbar-nav > .dropdown > a:hover .caret, .navbar-header .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: red;
    border-bottom-color: red;
}
.navbar-header .navbar-toggle {
    border-color: rgba(50, 50, 50, 0.25);
}
.navbar-header .navbar-toggle:hover, .navbar-header .navbar-toggle:focus {
    background-color: rgba(50, 50, 50, 0.25);
}
.navbar-header .navbar-toggle .icon-bar {
    background-color: white;
}

@media (max-width: 767px) {
    .navbar-header .navbar-nav .open .dropdown-menu > li > a {
        color: white;
    }
    .navbar-header .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-header .navbar-nav .open .dropdown-menu > li > a:focus {
        color: red;
        background-color: rgba(50, 50, 50, 0.25);
    }
}
/* Do not take in account */
html {
    padding-top: 30px;
}

a.solink {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background: #f3f5f6;
    color: #cfd6d9;
    border: 1px solid #cfd6d9;
    line-height: 30px;
    text-decoration: none;
    transition: all .3s;
    z-index: 999;
}

a.solink::first-letter {
    text-transform: capitalize;
}

a.solink:hover {
    color: #428bca;
}
